@font-face {
    font-family: "ExtraThin";
    src: url('../assets/font/ExtraThin/webfont.eot');
    src: 
        url('../assets/font/ExtraThin/webfont.eot?#font-spider') format('embedded-opentype'),
        url('../assets/font/ExtraThin/webfont.ttf') format('truetype'),
        url('../assets/font/ExtraThin/webfont.woff') format('woff'),
        url('../assets/font/ExtraThin/webfont.svg') format('svg');
    
    font-weight: normal;
    font-style: normal;
}